/curl-7.60.0/build_x64_vc10/.vs/CURL/v14/*.suo
/curl-7.60.0/build_x64_vc10/*.sdf
/curl-7.60.0/build_x64_vc10/x64
/curl-7.60.0/build_x64_vc10/src/curl.dir
/curl-7.60.0/build_x64_vc10/src/Debug
/curl-7.60.0/build_x64_vc10/src/Release
/curl-7.60.0/build_x64_vc10/lib/Release
/curl-7.60.0/build_x64_vc10/lib/Debug
/curl-7.60.0/build_x64_vc10/lib/libcurl.dir
/curl-7.60.0/build_x64_vc10/Debug
/curl-7.60.0/build_x64_vc10/CMake
/curl-7.60.0/build_x64_vc10/CMakeFiles
/deps/openssl-1.0.2o/out32
/deps/include
/deps/openssl-1.0.2o/out32.dbg
/deps/lib
/deps/openssl-1.0.2o/out
/deps/zlib-1.2.11/contrib/masmx64/gvmat64.lst
/deps/zlib-1.2.11/contrib/masmx64/gvmat64.obj
/deps/zlib-1.2.11/contrib/masmx64/inffasx64.lst
/deps/zlib-1.2.11/contrib/masmx64/inffasx64.obj
/deps/zlib-1.2.11/contrib/vstudio/vc11/*.suo
/deps/zlib-1.2.11/contrib/vstudio/vc12/*.suo
/deps/zlib-1.2.11/contrib/vstudio/vc10/*.suo
/deps/zlib-1.2.11/contrib/vstudio/vc9/*.suo
/deps/zlib-1.2.11/contrib/vstudio/vc10/.vs/zlibvc/v14/*.suo
/deps/openssl-1.0.2o/ms/MINFO
/deps/openssl-1.0.2o/ms/nt.mak
/deps/openssl-1.0.2o/ms/ntdll.mak
/deps/openssl-1.0.2o/ms/uptable.asm
/deps/openssl-1.0.2o/ms/uptable.obj
/deps/openssl-1.0.2o/MINFO
/deps/openssl-1.0.2o/Makefile
/deps/openssl-1.0.2o/Makefile.bak
/deps/openssl-1.0.2o/crypto/buildinf.h
/deps/openssl-1.0.2o/crypto/opensslconf.h
/deps/openssl-1.0.2o/inc32/openssl/opensslconf.h
/out
